/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__menu {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.nav__icons {
  display: flex;
  gap: 1rem;
  color: var(--text-light);;
}

.link a {
  font-weight: 500;
  color:var(--text-light);;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}
.link a i{ 
font-size:20px;
color:var(--text-light);
}
.link a i:hover{ 
color:rad;
}

.nav__logo img {
  width: 100px;
  height: 100px;
}



/* Main Container Styles */
.profile-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius:15px;
}

.profile-container h1{
	text-align:center;
}

/* Personal Info Section */
.personal-info {
    display: flex;
    margin-bottom: 30px;
}

.profile-pic img {
    width: auto;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.info-text h2 {
    margin: 0;
    font-size: 24px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #002b5c;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.footer {
  background-color: black;
  color: white;
  padding-top: 3rem;
  padding: 1rem 1rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
  padding: 3rem 1rem;
}


.footer__logo-section {
  text-align: center;
}

.footer__logo-section img {
  height: 150px;
}

.footer__logo-section hr {
  margin: 1rem auto;
  width: auto;
  border: 0;
  border-top: 2px solid #fff;
}

.footer__col {
  color: white;
}

.footer__col ul {
  list-style: none;
  padding: 0;
}

.footer__col ul li {
  margin-bottom: 0.5rem;
}

.footer__col ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__col ul li a:hover {
  color: #ccc;
}

.promo-section {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.promo-section input {
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.promo-section label {
  color: white;
  margin-top: 0.5rem;
}

.newsletter-btn {
  padding: 0.5rem;
  background-color: white;
  color: black;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.Boking-btn{
	padding: 0.9rem;
  background-color: white;
  color: black;
  font-weight:800;
  width: 230px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.Boking-btn:hover{
  color:white;
  background-color:black;
}

.newsletter-btn:hover {
  background-color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: center; 
  gap: 1rem;
  margin-top: 2rem;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
}

.footer__bar {
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 0.9rem;
  background-color: black; 
}